.how-it-works-main{
    margin-left: 20px;
    margin-right: 20px;
  
    

}
.how-it-works-title{
    text-align: center;
}
.how-it-works-body{
    text-align: center;
}
.m-heading{
    padding-top: 30px;
    font-size: 33px;
    font-family: sans-serif;
    font-weight: bold;

}
.body-descri{
    padding-bottom: 25px;
    padding-top: 20px;
}