.signup-form-card {
    background-color: #ffffff;
    border-radius: 15px;
    min-height: 250px;
    padding: 16px;
    min-width: 150px;
    width: 97%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 12px;
    margin-left:500px ;
    }
    .signup-logo-image-container {
    min-width: 90px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
    }
    .signup-logo-image {
    width: 52px;
    margin-right: 5px;
    }
    .signup-logo-name {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
    color: #ef5350;
    margin-left: 5px;
    margin-bottom: 3px;
    }
    .signup-form-element {
    width: 95%;
    min-width: 90px;
    margin-top: 15px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .signup-label {
    font-family: "Roboto";
    font-size: 18px;
    color: #636262;
    font-weight: 600;
    margin-bottom: 4px;
    
    margin-top: 10px;
    cursor: pointer;
    }
    .signup-input-ele {
    background-color: transparent;
    border: 2px solid #bebfc2;
    padding: 6px;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    font-family: "Roboto";
    font-size: 18px;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 10px;
    outline: none;
    }
    .signup-submit-button-container {
    width: 100%;
    min-width: 90px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    }
    .signup-submit-button {
    background-color: #6366f1;
    height: 45px;
    width: 100%;
    font-family: "Roboto";
    
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    outline: none;
    }
    .signup-required-text {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    color: #ff0b37;
    margin-top: 10px;
    }
    .signup-radio-input {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    cursor: pointer;
    }
    .signup-radio-text {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: #636262;
    margin-left: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    }
    .success-msg-color {
    
    color: green;
    }
    .signup-already-have-account-container {
    width: 95%;
    min-width: 90px;
    margin-top: 7px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .signup-already-have-account-text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    }
    .signup-already-have-account-link {
    text-decoration: none;
    font-weight: 600;
    }
    .signup-already-have-account-link:hover {
    text-decoration: underline;
    }